<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Spiral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="fibonacci-container"></div>

    <div id="controls">
        <button id="zoom-in" class="btn btn-primary">Zoom In</button>
        <button id="zoom-out" class="btn btn-secondary">Zoom Out</button>
        <p>This will generate Fibonacci numbers in a spiral pattern as you scroll.</p>
        <footer>
            &copy; 2024 Abhinav Devaguptapu. All rights reserved.
        </footer>
    </div>

    

    <script src="/script.js"></script>
</body>
</html>
